{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Project</h1>
		</div>
    </div>
	<div class="container" role="main">
		<div class="table-responsive">
			{% if request.user.is_student %}
			<h3>Recommended Projects</h3>
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th> Name </th>
						<th> Company </th>
						<th> Group </th>
						<th> Apply </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/project?name={{ project.company }}&project={{ project.name }}">{{ project.name }}</a></td>
						<td>{{ project.description }}</td>
						<td>{{ project.company }}</td>
						{% if request.user.is_student %}
							<td><a href="/">Apply</a></td>
						{% endif %}
					</tr>
				</tbody>
			</table>
			<h3>Project List</h3>
			{% endif %}
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th> Name </th>
						<th> Description </th>
						<th> Company </th>
						{% if request.user.is_student %}
						<th> Apply </th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td><a href="/project?name={{ project.company }}&project={{ project.name }}">{{ project.name }}</a></td>
						<td>{{ project.description }}</td>
						<td>{{ project.company }}</td>
						{% if request.user.is_student %}
							<td><a href="/">Apply</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}