{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<div class="jumbotron">
				<h1>Projects</h1>
			</div>
			{% for project in projects %}
  				<div class="page-header">
    				<h2>{{ project.name }}</h2>      
  				</div>

				<br>
				<label for="description">Description</label><br>
				{{ project.description }}
				<br>

				<label for="language">Programming Language Required</label><br>
				{{ project.pro_language}}
				<br>

				<label for="exp">Years of Experience Required</label><br>
				{{ project.years_of_exp}}
				<br>

				<label for="speciality">Speciality</label><br>
				{{ project.speciality}}
				<br>

				<label for="post">Post By</label><br>
				{{ project.post_by}}
				<br>
				<br>
			{% endfor %}
		</div>
	</div>

{% endblock %}