{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="/{{ company.photo }}" alt="Company Image" width=150/>
			<h2>{{ company.name }}</h2>
			<p>{{ company.description }}</p>
            <h5><a href="{{ company.website }}">Website</a></h5>
            {% if userIsMember %}
            <a href="/company/unjoin?name={{ company.name }}" class="btn btn-default">Unjoin this Company</a>
            {% else %}
            <a href="/company/join?name={{ company.name }}" class="btn btn-default">Join this Company</a>
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
            <div class="table-responsive">
                <h3>Engineers</h3>
                <table class="table table-striped sortable">
                    <thead>
                        <!--<tr>
                            <th>Engineers</th>
                        </tr>-->
                    </thead>
                    <tbody>
                        {% for item in company.members.all %}
                        <tr>
                            <td>{{ item.get_full_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <h3>Projects</h3>
                <table class="table table-striped sortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Post Date</th>
                            <th>Update Date</th>
                            <th>Post By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in company.project_set.all %}
                        <tr>
                            <td><a href="/project?name={{ company.name }}&project={{ item.name }}">{{ item.name }}</a></td>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.updated_at }}</td>
                            <td>{{ item.post_by}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if userIsMember %}
                <a href="/project/form?name={{ company.name }}" class="btn btn-default">Add a Project</a>
                {% endif %}
                <br><br><br><br>
            </div>
        </div>
{% endblock %}