{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
				<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
				<a href="/group/addmembersform?name={{ group.name }}" class="btn btn-default">Add members</a>
			{% endif %}
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<h3>Information</h3>
			<table class="table table-striped sortable">
				<tbody>
					<tr>
						<td>Programming Language Knowledge</td>
						<td>{{ group.languages }}<td>
					</tr>
					<tr>
						<td>Years of Experience</td>
						<td>{{ group.experience }}<td>
					</tr>
					<tr>
						<td>Speciality</td>
						<td>{{ group.speciality }}<td>
					</tr>
				</tbody>
			</table>
			<br>

			<h3>Project</h3>
			<table class="table table-striped sortable">
			</table>
			<br>

			<h3>Members</h3>
			<table class="table table-striped sortable">
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
		</div>
	</div>
        <div class="container" role="main">
        	<div class="table-responsive">
            	<h3>Comments</h3>
            	<table class="table table-striped sortable">
               		<thead>
                    	<tr>
                      		<th style="width: 10%">ID</th>
                        	<th style="width: 75%">Comment</th>
                       		<th style="width: 10%">Time</th>
                        	<th style="width: 5%"></th>
                    	</tr>
               		</thead>
                	<tbody>
                   	{% for item in comments %}
                   		<tr>
                       		<td>{{ item.name }}</td>
                       		<td>{{ item.comment }}</td>
                       		<td>{{ item.time }}</td>
                       	{% if request.user.email == item.post_by %}
                           <td><a href="/removecomment?id={{ item.id }}&group={{ group.name }}" class="btn btn-default">remove comment</a></td>
                       	{%endif%}
                   		</tr>
                   	{% endfor %}
                	</tbody>
            	</table>
           	</div>
         	<a href="/commentform?group={{group.name}}" class="btn btn-default">Add Comment</a><br><br><br><br>
      </div>


{% endblock %}