{% extends "body.html" %}

{% block content %}
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Teachers</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {% if user.is_authenticated == False %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% else %}
          <li><a href="/teachers">View Teachers</a></li>
          <li><a href="/teacherform">Create Teachers</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
<!-- Content -->
<div class="container" role="main">
    <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" action="/addteacher" class="panel-body validate">
        {% csrf_token %}
             <label for="name">Name</label>
             <input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
             <br>
             <label for="university">University</label>
             <input type="text" name="university" id="university" placeholder="University" class="form-control" data-bvalidator="required" data-bvalidator-msg="University Required">
             <br>
             <label for="email">Email</label>
             <input type="text" name="email" id="email" placeholder="Email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required">
             <br>
             <label for="phone">Phone</label>
             <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control" data-bvalidator="required" data-bvalidator-msg="Phone Required">
             <br>
             <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}