
{% extends "body.html" %}

{% block content %}
    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      <th style="width: 30%">Name</th>
                      <th style="width: 30%">University</th>
                      <th style="width: 25%">Email</th>
                      <th style="width: 15%">Phone</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

{% endblock %}