{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Add a student</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/university/course/addstudents?name={{ university.name }}&course={{ course.tag }}" class="panel-body validate">
				{% csrf_token %}
				<label for="email">Email</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="email" id="email" placeholder="Email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required">
				<br>
				<!-- <input type="submit" value="Submit" class="btn btn-primary"> -->
				<input type="submit" value="Add" class="btn btn-primary">
				<!-- <a href="/group/addmemebers?name={{ group.name }}" class="btn btn-primary">Add</a> -->
				<a href="/university/course?name={{ university.name }}&course={{ course.tag }}" class="btn btn-primary">Back to course</a>
				<!-- <a href="/group/all" class="btn btn-default">Back to groups</a> -->
			</form>
		</div>
	</div>
	
{% endblock %}