{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="/{{ university.photo }}" alt="University Image" width=150/>
			<h2>{{ course.tag }}</h2>
			<h3>{{ course.name }}</h3>
			<p>{{ course.description }}</p>
            {% if userIsProfessor %}
	     		<!-- TODO: only professor of this course can perform these actions -->
	            <a href="/university/course/addstudentsform?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Add Students</a>
	            <a href="/university/course/remove?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Delete this Course</a>
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<h3> Students </h3>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<!-- <th>Remove from Course</th> -->
					</tr>
				</thead>
				<tbody>
					{% for item in course.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.email }}</td>
						<td><a href="/university/course/removestudent?name={{ university.name }}&course={{ course.tag }}&email={{ item.email }}">remove</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br><br><br><br>
		</div>
	</div>
	
{% endblock %}
