{% extends "body.html" %}

{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CS Capstone Marketplace</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <!-- Content -->
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
                        <th></th>
						<th>University</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
                    {% for item in universities %}
                    <tr>
                        <td><a href="/university?name={{ item.name }}"><img src="/{{ item.photo }}" alt="University Image" width=50/></a></td>
                        <td><a href="/university?name={{ item.name }}">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
    </div>

{% endblock %}
