{% extends "body.html" %}

{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CS Capstone Marketplace</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<meta http-equiv="refresh" content="5;url=/university?name={{ name }}"/>
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h2>University "{{ name }}" was successfully created!</h2>
			<p>This page will redirect momentarily...if it does not <a href="/university?name={{ name }}">click here!</a></p>
		</div>
	</div>

{% endblock %}
