{% extends "body.html" %}

{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CS Capstone Marketplace</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Create University</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" enctype="multipart/form-data" action="/university/formsuccess" class="panel-body validate">
                {% csrf_token %}
				<label for="name">Name</label>
                <h6 style="color:red">{{ error }}</h6>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
                <label for="photo">Upload a Photo</label>
                <input type="file" name="photo" />
                <br>
				<label for="description">University Description</label>
				<input type="text" name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
                <label for="website">Website</label>
				<input type="text" name="website" id="website" placeholder="Website" class="form-control">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
    </div>
{% endblock %}
